body {
  background-color: rgb(13, 13, 32);
  color: rgb(221, 190, 16);
}

.table {
  background-color: rgb(32, 32, 104);
  border: 2px solid gold;
  color: gold;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 3px rgba(131, 177, 25, 0.5);
  cursor: pointer;
}

.align-middle {
  text-align: center;
}

.thead {
  font-weight: 700;
  letter-spacing: 1px;
}
